/OneDrive/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/OneDrive/Documents/NetBeansProjects/JavaApplication1/build/
/OneDrive/Documents/NetBeansProjects/JavaApplication2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/JavaApplication2/build/
/OneDrive/Documents/NetBeansProjects/tictac/target/
/OneDrive/Documents/NetBeansProjects/Tech_alpha/target/
